In [16]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [9]:
import warnings
warnings.filterwarnings('ignore')

In [17]:
df.head()

                                               Tweet                  Suicide
0                                  making some lunch         Not Suicide post
1                        @Alexia You want his money.         Not Suicide post
2  @dizzyhrvy that crap took me forever to put to...  Potential Suicide post
3  @jnaylor #kiwitweets Hey Jer! Since when did y...         Not Suicide post
4  Trying out &quot;Delicious Library 2&quot; wit...         Not Suicide post

In [18]:
df.describe()

                                                    Tweet           Suicide
count                                                1785              1787
unique                                               1777                 2
top     Became as hot as the persistent days resting h...  Not Suicide post
freq                                                    2              1127

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1787 entries, 0 to 1786
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Tweet    1785 non-null   object
 1   Suicide  1787 non-null   object
dtypes: object(2)
memory usage: 28.1+ KB

In [20]:
#data cleaning and preprocessing

data_cleaned = df.dropna(subset=['Tweet'])

In [21]:
data_cleaned['Suicide'] = data_cleaned['Suicide'].str.strip().str.lower()

In [22]:
import re

def clean_text(text):

    text = re.sub(r'http\S+|www\S+|https\S+', '', text, flags=re.MULTILINE)
    text = re.sub(r'\@\w+|\#', '', text)
    text = re.sub(r'[^A-Za-z\s]', '', text)

    text = text.lower().strip()
    return text

data_cleaned['Tweet'] = data_cleaned['Tweet'].apply(clean_text)

In [23]:
data_cleaned.info()
data_cleaned.head()

<class 'pandas.core.frame.DataFrame'>
Index: 1785 entries, 0 to 1786
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Tweet    1785 non-null   object
 1   Suicide  1785 non-null   object
dtypes: object(2)
memory usage: 41.8+ KB

                                               Tweet                 Suicide
0                                  making some lunch        not suicide post
1                                 you want his money        not suicide post
2  that crap took me forever to put together im g...  potential suicide post
3  kiwitweets hey jer since when did you start tw...        not suicide post
4  trying out quotdelicious library quot with mix...        not suicide post

In [24]:
data_cleaned.to_csv('cleaned_dataset.csv', index=False)

In [25]:
df = pd.read_csv('/Users/daniyalrosli/Suicidal-Tweet-Detection-on-X/cleaned_dataset.csv')